/*body view*/
body{
	background: aqua;
}
.maindiv{
	background: pink;
	display: flex;
	justify-content: space-around;
	margin:5%;
}
.leftdiv{
	background: bisque;
	margin:4%;
	width:25%;
	height:25%;
	border-radius: 10%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
}
.rightdiv{
	background:seagreen;
	margin:6%;
	width:50%;
	border-radius: 4%;
	padding:3%;
	box-shadow: 4px 4px 4px 4px;
}
img{
	border-radius:4%; 
	margin:4%;
	width:40%;
	height:55%;
}
/*this is for mobile view*/
@media screen and (min-width:320px) and (max-width: 480px) {
body{
	background:pink;
}
.maindiv{
	background: pink;
    display: inline-block;
    justify-content: space-around;
    margin: 5%;
}
.leftdiv{
	background: bisque;
	margin:3%;
	width:94%;
	padding:3%;
	border-radius: 4%;
	text-align: center;
	box-shadow: 1px 1px 1px 1px;
	height:45%;
}
.rightdiv{
	background:seagreen;
	margin:2%;
	width:98%;
	border-radius: 4%;
	box-shadow: 1px 1px 1px 1px;
}
img{
	border-radius:4%; 
	margin:4%;
	width:50%;
	height:70%;
}
}









