body{
	background:#CCA4EA;
}

.maindiv{
	background: pink;
	display: flex;
	justify-content: space-around;
	margin:10%;
	border-radius:2%;
	

}
.subdiv,.subdiv1,.subdiv2{
	background:skyblue;
	margin:4%;
	width:27%;
	border-radius: 10%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
}
img{
	height:40%;
	width: 70%
	margin:80%;
	border-radius: 25%;
}
/*this is for mobile view*/
@media screen and (min-width:320px) and (max-width:480px){
body{
	background:pink;
	padding:10%;
}

.maindiv{
	background:blue;
	display:inline-block;
	margin:2%;
	width:100%;
	height:90%;
	border-radius:4%;
	padding:3%;
	

}
.subdiv,.subdiv1,.subdiv2{
	background:skyblue;
	margin:2%;
	width:90%;
	border-radius: 10%;
	text-align: center;
	box-shadow: 1px 1px 1px 1px;
}
img{
	height:30%;
	width:40%;
	margin:3%;
	border-radius: 25%;
}
}
/*tab  view*/
@media screen and (min-width:480px) and (max-width:680px){
body{
	background:seagreen;
}

.maindiv{
	background:pink;
	display:flex;
	flex-wrap: wrap;
	margin:2%;
	width:90%;
	height:90%;
	border-radius:4%;
	padding:3%;
	

}
.subdiv,.subdiv1,.subdiv2{
	background:#FFC08F;
	margin:2%;
	width:35%;
	border-radius: 10%;
	text-align: center;
	padding: 2%;
	box-shadow: 4px 4px 4px 4px;
}
img{
	height:30%;
	width:40%;
	margin:3%;
	border-radius: 25%;
}
}